.card {
    min-height: 500px;
    min-width: 400px;
    margin-right: 20px;
    box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
}

body{
    background: #fafafa;
}

textarea {
    background-color: #fafafa !important;
}

.card.border-easy-run {
    background-color: rgba(35, 173, 35, 1);
}

.card.border-moderate-run {
    background-color: rgba(242, 229, 87, 1);
}

.card.border-long-run {
    background-color: rgba(214, 124, 21, 1);
}

.card.border-speed-run {
    background-color: rgba(230, 55, 55, 1);
}

.card.border-rest {
    background-color: rgba(245, 243, 237, 1);
}

.card.border-tempo-run {
    background-color: rgba(71, 144, 181, 1);
}